<div class="hgroup">
  <h2 c3mFocusOnPageChange tabindex="-1">
    <span>
      <strong>{{ pageTitle }}</strong> {{ resourceType }}
    </span>
    <code>{{ componentName }}</code>
  </h2>

  <nav *ngIf="isThereSubNav" aria-label="Sections on this page">
    <ul>
      <li *ngFor="let section of sections">
        <a [attr.href]="currentUrl + '#' + section.id">
          {{ section.label }}
        </a>
      </li>
    </ul>
  </nav>
</div>

<div class="component-sheet">
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
