div.hgroup {
  margin-bottom: calc(1.5rem + 2vw);
}

div.hgroup h2 {
  font: 1.2em var(--stack);
  color: var(--text-inv);
  background-color: var(--main-color);
  padding: 0.5em 1em;
  margin-bottom: 1em;
}

div.hgroup h2 code {
  display: block;
  font-size: initial;
  color: currentColor;
  background-color: var(--main-color);
  margin-top: 0.25em;
}

div.hgroup nav {display: none;}

div.hgroup ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5rem 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
  border-left: 5px solid var(--main-light);
}

div.hgroup li {
  min-width: 30%;
  flex-basis: 20%;
}

div.hgroup li a {
  display: block;
  text-decoration: none;
}

/* ------------------ MEDIA QUERIES ------------------ */

@media screen and (min-width: 800px) {
  div.hgroup ul {
    flex-direction: row;
  }
}

@media screen and (min-width: 1000px) {
  div.hgroup h2 {
    font-size: 2em;
  }
}

@media screen and (min-width: 1300px) {
  div.hgroup h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
