<section id="general">
  <h3>General Component</h3>

  <div class="introduction editorial">
    <c3m-message-block>
      <p>
        Giving a
        <a href="https://angular.io/guide/template-reference-variables" target="_blank">
          template variable
        </a>
        when calling the component allows you to trigger or stop the spinner.
      </p>
    </c3m-message-block>
  </div>

  <c3m-tabs class="block-style" label="Demo and Code">
    <c3m-tab-panel class="block-style" tabTitle="Demo" [isActive]="true">
      <button
        (click)="insertContent(process1); stopProgress(process1); process1.ToggleOpen($event)">
        Open spinner
      </button>
      <c3m-progress-spinner #process1></c3m-progress-spinner>
    </c3m-tab-panel>
    <c3m-tab-panel class="block-style" tabTitle="Application">
      <pre>
&lt;c3m-progress-spinner #process1&gt;
&lt;/c3m-progress-spinner&gt;

EXAMPLE TO TRIGGER THE SPINNER

&lt;button (click)=&#34;insertContent(process1); process1.ToggleOpen($event); stopProgress(process1)&#34;&gt;
  Open spinner
&lt;/button&gt;

insertContent(spinner: ProgressSpinnerComponent) &#123;
  spinner.progressText = &#34;Loading...&#34;;
&#125;

// Demo for progress spinner
// Sends signal to stop progress and close spinner
stopProgress(el: any) &#123;
  setTimeout(function () &#123;
    el.isOpen = false;
    el.progressText = &#34;&#34;;
  &#125;, 3000);
&#125;
      </pre>

      <c3m-message-block [isWarning]="true">
        <p>
          The text to be announced by screen readers must be injected dynamically to the component.
        </p>
      </c3m-message-block>
    </c3m-tab-panel>
  </c3m-tabs>
</section>

<section id="props-n-events">
  <h3>Properties and Events</h3>

  <table class="adaptable">
    <caption>
      Properties applicable to the component
      <code>c3m-progress-spinner</code>
    </caption>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Default</th>
      <th scope="col">Description</th>
    </tr>
    <tr>
      <td data-head="Name">progressText</td>
      <td data-head="Type">string</td>
      <td data-head="Default">--</td>
      <td>Dynamic text to be announced by screen readers.</td>
    </tr>
  </table>
  <p><em>* mandatory properties</em></p>
</section>
