<section id="steps">
  <h3>General component</h3>

  <c3m-tabs class="block-style" label="Demo and Code">
    <c3m-tab-panel class="block-style" tabTitle="Demo" [isActive]="true">
      <c3m-steps [titles]="titles"></c3m-steps>
    </c3m-tab-panel>
    <c3m-tab-panel class="block-style" tabTitle="Application">
      <pre></pre>
    </c3m-tab-panel>
  </c3m-tabs>
</section>

<section id="props-n-events">
  <h3>Properties and Events</h3>

  <table class="adaptable">
    <caption>
      Properties applicable to the component
      <code>c3m-steps</code>
    </caption>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Default</th>
      <th scope="col">Description</th>
    </tr>
    <tr>
      <td data-head="Name"></td>
      <td data-head="Type"></td>
      <td data-head="Default"></td>
      <td></td>
    </tr>
    <tr>
      <td data-head="Name"></td>
      <td data-head="Type"></td>
      <td data-head="Default"></td>
      <td></td>
    </tr>
  </table>
  <p><em>* mandatory properties</em></p>
</section>
