<div class="introduction editorial">
  <div class="intro-text">
    <p>
      The
      <code>c3mFocusOnPageChange</code>
      directive allows you to control focus when your page view changes. This ensures that
      screen-readers will properly announce the view change, and will put the user in correct
      context.
    </p>

    <p>
      To apply it, just add the
      <code>c3mFocusOnPageChange</code>
      directive selector to the element that should get focus when the new view is loaded &mdash;
      usually in the
      <code>header</code>
      element of your application or, like in our portal, in the page title.
    </p>
  </div>
</div>
