footer {
  color: var(--n-dark);
  background-color: var(--n-light);
  padding: 0.5rem 1rem;
}

p {
  font-size: 0.8em;
  text-align: center;
}

/* ------------------ MEDIA QUERIES ------------------ */

@media screen and (min-width: 1000px) {
  p {
    text-align: right;
  }
}
