<div class="home-wrapper">
  <div class="home-highlight">
    <p>Develop accessible Angular applications with our components and patterns.</p>
    <p><a routerLink="/portal/getting-started">Let's get started!</a></p>
  </div>

  <div class="cards-list editorial">
    <div class="card">
      <p><strong>Accessibility</strong></p>
      <p>
        Web accessibility is what moved us into making this library, so we're doing our best to
        create the most accessible Angular components a library can offer.
      </p>
    </div>
    <div class="card">
      <p><strong>Embrace the Web</strong></p>
      <p>
        Each component has been handcrafted with love, with a progressive enhancement approach that
        respects web standards and semantics.
      </p>
    </div>
    <div class="card">
      <p><strong>Be Responsive</strong></p>
      <p>All components were designed to be fully responsive and multi-device.</p>
    </div>
    <!-- <div class="card">
      <p><strong>Fork & Contribute</strong></p>
      <p>All the components are open source. You can fork us on Github and
      propose your own components.</p>
    </div> -->
  </div>

  <p class="home-note">
    <strong>CreamNg</strong>
    is being crafted with love by people who love the web.
  </p>
</div>
