<section id="dialog-snackbar">
  <h3>Dialog Snackbar</h3>

  <div class="introduction editorial">
    <div class="intro-text">
      <p>
        Snackbars work exactly like a modal &mdash; in isolated mode &mdash;, but contrary to
        modals, they can only be closed by interacting with them. As snackbars impose a question
        that must be answered, it can only be closed by interacting with it.
      </p>
      <p>Use this component to get mandatory feedback from the user.</p>
    </div>

    <c3m-message-block>
      <p>
        You should use the component's unique identifier (template reference) to call the
        <code>ToggleOpen</code>
        function to trigger or close the snackbar.
      </p>
      <p>You may add aditional functions to the same event.</p>
    </c3m-message-block>
  </div>

  <c3m-tabs class="block-style" label="Demo and Code">
    <c3m-tab-panel class="block-style" tabTitle="Demo" [isActive]="true">
      <p><button (click)="snackbarDemo.ToggleOpen($event)">Open snackbar</button></p>

      <c3m-snackbar #snackbarDemo>
        <p>Are you sure you want to delete all the files?</p>
        <p class="buttons-bar">
          <button class="as-reset" (click)="snackbarDemo.ToggleOpen($event)">No</button>
          <button class="as-submit" (click)="snackbarDemo.ToggleOpen($event)">Yes</button>
        </p>
      </c3m-snackbar>
    </c3m-tab-panel>
    <c3m-tab-panel class="block-style" tabTitle="Application">
      <pre>
&lt;c3m-snackbar #snackbarDemo&gt;
  &lt;NG-CONTENT&gt;
&lt;/c3m-snackbar&gt;

EXAMPLE OF SNACKBAR TRIGGER:

&lt;p&gt;&lt;button (click)=&#34;snackbarDemo.ToggleOpen($event)&#34;&gt;
  Open snackbar
&lt;/button&gt;&lt;/p&gt;

EXAMPLE OF BUTTON ACTION:

&lt;button class=&#34;as-reset&#34; (click)=&#34;snackbarDemo.ToggleOpen($event)&#34;&gt;
  No
&lt;/button&gt;
&lt;button class=&#34;as-submit&#34; (click)=&#34;snackbarDemo.ToggleOpen($event)&#34;&gt;
  Yes
&lt;/button&gt;
      </pre>
    </c3m-tab-panel>
  </c3m-tabs>
</section>

<section id="props-n-events">
  <h3>Properties and Events</h3>

  <table class="adaptable">
    <caption>
      Properties applicable to the component
      <code>c3m-snackbar</code>
    </caption>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Default</th>
      <th scope="col">Description</th>
    </tr>
    <tr>
      <td data-head="Name">isOpen</td>
      <td data-head="Type">boolean</td>
      <td data-head="Default">false</td>
      <td>If "true", opens snackbar</td>
    </tr>
    <tr>
      <td data-head="Name">sbTitle</td>
      <td data-head="Type">string</td>
      <td data-head="Default">"Confirmation"</td>
      <td>The title of the snackbar (screen-readers only)</td>
    </tr>
  </table>
  <p><em>* mandatory properties</em></p>
</section>
