<section id="config" class="editorial">
  <h3>Adding CreamNg Assets</h3>

  <p>
    Before using the components, you must import
    <strong>CreamNg</strong>
    main stylesheet &mdash; general default values for the library &mdash; and the CreamNg icons.
  </p>

  <p>
    In the
    <em>angular.json</em>
    file of your project, change the value of the "style" keyword as shown hereafter:
  </p>

  <pre class="command"><code [highlight]="codeCommand"></code></pre>

  <p>
    You must also add the following lines to the "assets" keyword, in order to import the icons:
  </p>

  <div class="command">
    <pre>
      <code [highlight]="codeAsset"></code>
  </pre>
    <pre class="highlight">
      <code [highlight]="codeAssetHighlight"></code>
    </pre>
  </div>

  <p>This will allow you to use your own assets as much as the library's.</p>

  <c3m-message-block>
    <p>
      If you want to modify the default design, please refer to the
      <a routerLink="/portal/custom-design">Custom Design</a>
      page.
    </p>
  </c3m-message-block>
</section>

<section id="config" class="editorial">
  <h3>Internationalisation</h3>

  <p>
    <strong>CreamNg</strong>
    components use the i18n system for internationalisation. If your application is not in English,
    you may follow the steps hereafter to translate the library components:
  </p>

  <ol>
    <li>
      Get CreamNg internationalisation file on Github:
      <a
        href="https://github.com/CreamLib/ngx-cream-lib/blob/main/src/locale/messages.xlf"
        target="_blank">
        messages.xlf
      </a>
    </li>
    <li>Place the file in the "src/locale" directory</li>
    <li>
      Copy the file and change the name for you local language, for example
      <em>
        "messages.
        <strong>fr</strong>
        .xlf"
      </em>
    </li>
    <li>
      Edit this new file with the wanted translation using the &lt;target&gt; element:
      <!--div class="command"-->
      <pre class="command">
          <code [highlight]="codeInternationalisation"></code>
  </pre>
      <!--/div-->
    </li>
  </ol>

  <c3m-message-block>
    <p>
      For more information on how to merge translations into your application, consult
      <a href="https://angular.io/guide/i18n-common-merge" target="_blank">
        Merge translations into the application
      </a>
      of the Angular documentation.
    </p>
  </c3m-message-block>
</section>
