<section id="config" class="editorial">
  <h3>Adding CreamNg Assets</h3>

  <p>
    Before using the components, you must import <strong>CreamNg</strong> main stylesheet &mdash;
    general default values for the library &mdash; and the CreamNg icons.
  </p>

  <p>
    In the <em>angular.json</em> file of your project, change the value of the "style" keyword as
    shown hereafter:
  </p>

  <pre class="command">

&#34;styles&#34;: [
  &#34;/node_modules/ngx-cream-lib/assets/css/main.css&#34;
],

  </pre>

  <p>
    You must also add the following lines to the "assets" keyword, in order to import the icons:
  </p>

  <div class="command">
    <pre>
  &#34;assets&#34;: [
    &#34;src/favicon.ico&#34;,
    &#34;src/assets&#34;,
  </pre
    >
    <pre class="highlight">
    &#123;
      &#34;glob&#34;: &#34;**/*&#34;,
      &#34;input&#34;: &#34;./projects/ngx-cream-lib/assets&#34;,
      &#34;output&#34;: &#34;/assets/&#34;
    &#125;
  </pre
    >
    <pre>],</pre>
  </div>

  <p>This will allow you to use your own assets as much as the library's.</p>

  <c3m-message-block>
    <p>
      If you want to modify the default design, please refer to the
      <a routerLink="/portal/custom-design">Custom Design</a> page.
    </p>
  </c3m-message-block>
</section>

<section id="config" class="editorial">
  <h3>Internationalisation</h3>

  <p>
    <strong>CreamNg</strong> components use the i18n system for internationalisation. If your
    application is not in English, you may follow the steps hereafter to translate the library
    components:
  </p>

  <ol>
    <li>
      Donwload CreamNg internationalisation file:
      <a href="/src/locale/messages.xlf" target="_self" download="creamng-i18n">
        <svg role="img" width="24" height="24">
          <use href="./assets/img/local-sprite.svg#ic-download"></use>
        </svg>
        messages.xlf
      </a>
    </li>
    <li>Place the file in the "src/locale" directory</li>
    <li>
      Copy the file and change the name for you local language, for example
      <em>"messages.<strong>fr</strong>.xlf"</em>
    </li>
    <li>
      Edit this new file with the wanted translation using the &lt;target&gt; element:
      <div class="command">
        <pre>
        ...
&lt;trans-unit id=&#34;7022070615528435141&#34; datatype=&#34;html&#34;&gt;
  &lt;source&gt;Delete&lt;/source&gt;</pre
        >
        <pre class="highlight">
  &lt;target&gt;Supprimer&lt;/target&gt;
  </pre
        >
        <pre>
  &lt;context-group purpose=&#34;location&#34;&gt;
    &lt;context context-type=&#34;sourcefile&#34;&gt;projects/ngx-cream-lib/src/lib/chip/chip.component.html&lt;/context&gt;
    &lt;context context-type=&#34;linenumber&#34;&gt;19&lt;/context&gt;
  &lt;/context-group&gt;
&lt;/trans-unit&gt;
        ...
  </pre
        >
      </div>
    </li>
  </ol>

  <c3m-message-block>
    <p>
      For more information on how to merge translations into your application, consult
      <a href="https://angular.io/guide/i18n-common-merge" target="_blank">
        Merge translations into the application</a
      >
      of the Angular documentation.
    </p>
  </c3m-message-block>
</section>
