<section id="config" class="editorial">
  <h3>Adding CreamNg Assets</h3>

  <p>
    Before using the components, you must import
    <strong>CreamNg</strong>
    main stylesheet &mdash; general default values for the library &mdash; and the CreamNg icons.
  </p>

  <p>
    In the
    <em>angular.json</em>
    file of your project, change the value of the "style" keyword as shown hereafter:
  </p>

  <pre class="command"><code [highlight]="codeCommand"></code></pre>

  <p>
    You must also add the following lines to the "assets" keyword, in order to import the icons:
  </p>

  <div class="command">
    <pre>
      <code [highlight]="codeAsset"></code>
  </pre>
    <pre class="highlight">
      <code [highlight]="codeAssetHighlight"></code>
    </pre>
  </div>

  <p>This will allow you to use your own assets as much as the library's.</p>

  <c3m-message-block>
    <p>
      If you want to modify the default design, please refer to the
      <a routerLink="/portal/custom-design">Custom Design</a>
      page.
    </p>
  </c3m-message-block>
</section>

<section id="internationalisation" class="editorial">
  <h3>Internationalisation</h3>

  <p>
    <strong>CreamNg</strong>
    components use the i18n system for internationalisation. Projects that need other languages
    other than en-US can do the following to translate CreamNg components:
  </p>

  <ul>
    <li>
      <a href="https://angular.io/guide/i18n-common-add-package" target="blank_">
        Add the localize package
      </a>
    </li>
    <li>
      <a
        href="https://angular.io/guide/i18n-common-translation-files#extract-the-source-language-file">
        Extract the source language file
      </a>
    </li>
    <li>
      <a
        href="https://angular.io/guide/i18n-common-translation-files#create-a-translation-file-for-each-language">
        Create a translation file for each language
      </a>
    </li>
    <li>
      <a
        href="https://angular.io/guide/i18n-common-translation-files#translate-each-translation-file">
        Translate each translation file
      </a>
    </li>
    <li>
      <a href="https://angular.io/guide/i18n-common-merge">
        Merge translations into the application
      </a>
    </li>
  </ul>
</section>
