@import "local-vars.css";

pre {
  overflow: auto;
}

p.command-line, pre.command {
  font: 1em/1.2 "Courier New", monospace;
  color: var(--text-inv);
  background-color: var(--main-dark);
  padding: 1rem;
  margin: 1rem 0;
  border-left: 4px solid var(--hot-light);
}

pre.command {
  color: var(--n-s-dark);
  background-color: var(--n-light);
}
