/* ------------------------------------------------------------

CREAMNg Portal, 2023
Main stylesheet

------------------------------------------------------------ */

@import 'local-vars.css';

pre {
  background: #fff;
  overflow-x: auto;
}




p.command-line,
.command {
  font: 1em/1.2 'Courier New', monospace;
  color: var(--text-inv);
  background-color: var(--main-dark);
  padding: 1rem;
  margin: 1rem 0;
  border-left: 4px solid var(--hot-light);
}

.command {
  color: var(--n-s-dark);
  background-color: var(--n-light);
}

pre.command {
  background-color: var(--n-light);
  --body-bg: var(--n-light);
}

div.command pre {
  background-color: var(--n-light);
  --body-bg: var(--n-light);
}

pre.highlight code.hljs {
  background-color: var(--hot-u-light);
}


/* -------------------------- BLOCKS ---------------------------- */

div.component-sheet section {
  padding-top: 1rem;
  border-top: 3px dotted var(--n-dark);
  margin-bottom: calc(1.5rem + 1vw);
}

div.component-sheet h3 {
  font-family: var(--stack-b);
  margin-bottom: 1.5em;
}

div.demo {
  background-color: var(--body-bg);
  padding: 1rem;
  border: 1px solid var(--n-medium);
}

div.introduction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem 5rem;
  margin-bottom: calc(1.5rem + 1vw);
}

div.intro-text {
  max-width: 45em;
}

div.explain {
  background-color: var(--sec-u-light);
  padding: 0.5rem;
  margin-top: 1rem;
}
div.explain p {
  font-size: 0.9rem;
  line-height: 1.45;
}


/* ------------------ MEDIA QUERIES ------------------ */

@media screen and (min-width: 1000px) {

  div.component-sheet h3 {
    font-size: 1.6em;
  }

  div.demo {
    padding: 2rem;
  }
}

@media screen and (min-width: 1300px) {
  div.introduction {
    flex-direction: row;
  }
}


.hljs {
  color: #24292e;
  /*background: #fff*/
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: #d73a49
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: #6f42c1
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
  color: #005cc5
}

.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: #032f62
}

.hljs-built_in,
.hljs-symbol {
  color: #e36209
}

.hljs-code,
.hljs-comment,
.hljs-formula {
  color: #6a737d
}

.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
  color: #22863a
}

.hljs-subst {
  color: #24292e
}

.hljs-section {
  color: #005cc5;
  font-weight: 700
}

.hljs-bullet {
  color: #735c0f
}

.hljs-emphasis {
  color: #24292e;
  font-style: italic
}

.hljs-strong {
  color: #24292e;
  font-weight: 700
}

.hljs-addition {
  color: #22863a;
  /*background-color: #f0fff4*/
}

.hljs-deletion {
  color: #b31d28;
  /*background-color: #ffeef0*/
}
