<section id="add-css" class="editorial">
  <h3>Adding your own style-sheet</h3>

  <p>
    Besides the
    <strong>CreamNg</strong>
    style-sheet, you may add your own and define your css custom properties.
  </p>

  <p>
    In your
    <em>angular.json</em>
    file, add the following lines:
  </p>

  <div class="command">
    <pre>

  &#34;styles&#34;: [
    &#34;/node_modules/ngx-cream-lib/assets/css/main.css&#34;,</pre
    >
    <pre class="highlight">
    &#34;src/assets/css/local.css&#34;
    </pre>
    <pre>],</pre>
  </div>

  <p>
    You may also group your local CSS custom properties in a separate file and import it from your
    css.
  </p>

  <p>
    Your local CSS styles and variables will be loaded last, so you may overwrite any style you need
    to.
  </p>
</section>

<section id="with-icons" class="editorial">
  <h3>Using Icons</h3>

  <h4>Changing styles</h4>

  <p>
    Icons listed in the CreamNg svg sprite don't have a predefined color, so they may be modified by
    CSS. You can do that by modifiying the styles directly when calling a svg from the svg sprite,
    or you can modify the color on the component's stylesheet.
  </p>

  <p>
    Icons that appear in white have the
    <strong>"icon-bt"</strong>
    class, so you may use this class to change its fill.
  </p>

  <p>Size can also be modified by CSS using the transform or width and height properties.</p>

  <h4>Adding icons to your project</h4>

  <p>
    Svg images are great because they are purely HTML, what makes its manipulation very easy and
    flexible.
  </p>
  <p>
    Once you've added your own project assets path to
    <em>angular.json</em>
    (see
    <a href="/portal/config">Configuring CreamNg</a>
    for more information), you can create your own svg sprite, as the example here after:
  </p>

  <div class="command">
    <pre>
&lt;!-- SVG DEFINITIONS --&gt;
&lt;svg xmlns=&#34;http://www.w3.org/2000/svg&#34;&gt;
  &lt;defs&gt;
    &lt;style type=&#34;text/css&#34; &gt;
        /* add your own style here */
    &lt;/style&gt;

    &lt;g id=&#34;nav-blocks&#34;&gt;
      &lt;path fill=&#34;none&#34; d=&#34;M0 0h24v24H0z&#34;/&gt;
      &lt;path d=&#34;M3 3h8v8H3V3zm0 10h8v8H3v-8zM13 3h8v8h-8V3zm0 10h8v8h-8v-8z&#34;/&gt;
    &lt;/g&gt;
    &lt;g id=&#34;ic-download&#34;&gt;
      &lt;path fill=&#34;none&#34; d=&#34;M0 0h24v24H0z&#34;/&gt;
      &lt;path d=&#34;M3 19h18v2H3v-2zm10-5.828L19.071 7.1l1.414 1.414L12 17 3.515 8.515 4.929 7.1 11 13.17V2h2v11.172z&#34;/&gt;
    &lt;/g&gt;
  &lt;/defs&gt;
&lt;/svg&gt;
  </pre
    >
  </div>

  <p>
    If you need to add a new icon to your svg sprite, simply get the svg code (without the opening
    and closing
    <code>svg</code>
    tags), group it in a
    <code>g</code>
    and give it a unique ID. That's all you have to do to reference to this icon later in the
    application.
  </p>

  <p>
    If you want to add the image as background, you have to encode the svg source into a data URI
    first.
  </p>
  <p>
    You may use Yuri Yoksel's
    <a href="https://yoksel.github.io/url-encoder/" target="_blank">URL Encoder for SVG</a>
    to do that.
  </p>
</section>
