<section id="add-css" class="editorial">
  <h3>Adding your own style-sheet</h3>

  <p>
    Besides the
    <strong>CreamNg</strong>
    style-sheet, you may add your own and define your css custom properties.
  </p>

  <p>
    In your
    <em>angular.json</em>
    file, add the following lines:
  </p>

  <div class="command">
    <pre><code [highlight]="codeStyle"></code></pre>
  </div>

  <p>
    You may also group your local CSS custom properties in a separate file and import it from your
    css.
  </p>

  <p>
    Your local CSS styles and variables will be loaded last, so you may overwrite any style you need
    to.
  </p>
</section>

<section id="with-icons" class="editorial">
  <h3>Using Icons</h3>

  <h4>Changing styles</h4>

  <p>
    Icons listed in the CreamNg svg sprite don't have a predefined color, so they may be modified by
    CSS. You can do that by modifiying the styles directly when calling a svg from the svg sprite,
    or you can modify the color on the component's stylesheet.
  </p>

  <p>
    Icons that appear in white have the
    <strong>"icon-bt"</strong>
    class, so you may use this class to change its fill.
  </p>

  <p>Size can also be modified by CSS using the transform or width and height properties.</p>

  <h4>Adding icons to your project</h4>

  <p>
    Svg images are great because they are purely HTML, what makes its manipulation very easy and
    flexible.
  </p>
  <p>
    Once you've added your own project assets path to
    <em>angular.json</em>
    (see
    <a href="/portal/config">Configuring CreamNg</a>
    for more information), you can create your own svg sprite, as the example here after:
  </p>

  <pre class="command"><code [highlight]="codeDecorative"></code></pre>

  <p>
    Notice that, as the image carries no information, we may hide it from screen readers by setting
    the
    <code>aria-hidden</code>
    attribute as "true".
  </p>

  <h4>Non-decorative images</h4>

  <p>Images that carry information, i.e. they are not purely decorative, must appear as:</p>

  <ul>
    <li>
      image files properly referenced by the
      <code>img</code>
      element and with a
      <strong>
        mandatory
        <code>alt</code>
        attribute
      </strong>
      to describe its purpose or meaning;
    </li>
    <li>
      svg sprite image called with the
      <code>use</code>
      element, with a
      <strong>
        mandatory
        <code>title</code>
        element
      </strong>
      describing its meaning or purpose:
    </li>
  </ul>

  <pre class="command"><code [highlight]="codeNonDecorative"></code></pre>

  <p>
    If you need to add a new icon to your svg sprite, simply get the svg code (without the opening
    and closing
    <code>svg</code>
    tags), group it in a
    <code>g</code>
    and give it a unique ID. That's all you have to do to reference to this icon later in the
    application.
  </p>

  <p>
    If you want to add the image as background, you have to encode the svg source into a data URI
    first.
  </p>
  <p>
    You may use Yuri Yoksel's
    <a href="https://yoksel.github.io/url-encoder/" target="_blank">URL Encoder for SVG</a>
    to do that.
  </p>
</section>
