/* --------------------------------------------------------------------
               			CREAMLIB/ CreamNg
          				Le Studio, 2023
/*-------------------------------------------------------------------- */

/* Define the "system" font family */
@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 300;
  src: local('.SFNSText'), local('.HelveticaNeueDeskInterface'), local('.LucidaGrandeUI'),
    local('Ubuntu'), local('Segoe UI'), local('Roboto'), local('DroidSans'), local('Tahoma');
}
@font-face {
  font-family: system-ui-bold;
  font-style: normal;
  font-weight: 300;
  src: local('.SFNSText-Bold'), local('.HelveticaNeueDeskInterface-Bold'),
    local('.LucidaGrandeUI-Bold'), local('Ubuntu Bold'), local('Segoe UI Bold'),
    local('Roboto-Bold'), local('DroidSans-Bold'), local('Tahoma-Bold');
}
@font-face {
  font-family: system-ui-italic;
  font-style: normal;
  font-weight: 300;
  src: local('.SFNSText-Italic'), local('.HelveticaNeueDeskInterface-Italic'),
    local('.LucidaGrandeUI-Italic'), local('Ubuntu Italic'), local('Segoe UI Italic'),
    local('Roboto-Italic'), local('DroidSans-Italic'), local('Tahoma-Italic');
}

:root {
  --body-text: #404040;
  --body-bg: #fff;
  --text-inv: #fff;

  --main-color: #15819e;
  --main-light: #45abbc;
  --main-u-light: #e2f4f7;
  --main-dark: #1e2e39;
  --sec-color: #35781c;
  --sec-light: #6cbe45;
  --sec-u-light: #e6f9dd;
  --focus-color: #35781c;
  --hot-color: #bd4d96;
  --hot-light: #d769a8;
  --hot-u-light: #ffb9e1;
  --hot-sec: #ed9c21;
  --hot-sec-light: #ffeed4;
  --n-dark: #1e2e39;
  --n-medium: #ccc;
  --n-medium-a: #6b6b6b;
  --n-light: #eee;
  --n-lighter: #efefef;
  --n-s-dark: #000;
  --alert-color: rgb(177, 0, 0);

  --stack: system-ui, sans-serif;
  --stack-b: system-ui-bold, sans-serif;
  --stack-i: system-ui-italic, sans-serif;

  --radius: 0.3em;

  --nav-width: 250px;
  --select-img: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M0,0H24V24H0Z' style='fill:none'/%3E%3Cpath d='M12,13.06l4.95-5,1.41,1.41L12,15.89,5.64,9.52,7.05,8.11Z'/%3E%3C/svg%3E");
}
