<section id="card">
    <h3>Card component</h3>

    <c3m-tabs class="block-style" label="Demo and Code">
        <c3m-tab-panel class="block-style" tabTitle="Demo" [isActive]="true">
            <c3m-card title="Card Title" titleLevel="2" imageName="illu.jpg" linkUrl="portal/card" labelButton="Découvrir">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus natus quam maxime. 
              Repellat atque animi consequatur fugiat perferendis dicta cumque maiores minus rem facilis, 
              ex unde quo laborum sunt cupiditate.
            </c3m-card>
        </c3m-tab-panel>
        <c3m-tab-panel class="block-style" tabTitle="Application">
          <pre>
    &lt;c3m-card title=&#34;Card Title&#34;&gt;
      &lt;NG-CONTENT&gt;
    &lt;/c3m-card&gt;
          </pre>
  
        </c3m-tab-panel>
      </c3m-tabs>
    
</section>