<section id="general">
  <h3>General Component</h3>

  <c3m-tabs class="block-style" label="Demo and Code">
    <c3m-tab-panel class="block-style" tabTitle="Demo" [isActive]="true">

      <div class="editorial">
        <p>
          <c3m-text-ellipsis>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </c3m-text-ellipsis>
        </p>

        <p>
          <c3m-text-ellipsis>
            Lorem ipsum dolor sit amet, consectetur adip
          </c3m-text-ellipsis>
        </p>
      </div>

    </c3m-tab-panel>
    <c3m-tab-panel class="block-style" tabTitle="Application">
      <pre>
&lt;p&gt;
  &lt;c3m-text-ellipsis&gt;
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  &lt;/c3m-text-ellipsis&gt;
&lt;/p&gt;

&lt;p&gt;
  &lt;c3m-text-ellipsis&gt;
    Lorem ipsum dolor sit amet, consectetur adip
  &lt;/c3m-text-ellipsis&gt;
&lt;/p&gt;
      </pre>
    </c3m-tab-panel>
  </c3m-tabs>
</section>

<section id="props-n-events">
  <h3>Properties and Events</h3>

  <table class="adaptable">
    <caption>Properties applicable to the component <code>c3m-text-ellipsis</code></caption>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Default</th>
      <th scope="col">Description</th>
    </tr>
    <tr>
      <td data-head="Name">[textCount]</td>
      <td data-head="Type">number</td>
      <td data-head="Default">55</td>
      <td>Specifies maximum number of characters to be displayed</td>
    </tr>
  </table>
  <p><em>* mandatory properties</em></p>
</section>

