<section id="palette" class="editorial">
  <h3>CreamNg Color Palette</h3>

  <div class="introduction editorial">
    <div class="intro-text">
      <p>
        Palette values are defined by CSS Custom Properties. Refer to these properties to customize
        your color palette.
      </p>
      <p>
        Consult the "
        <a routerLink="/portal/custom-design">Custom Design</a>
        " page for more information on how to customize your design.
      </p>
    </div>

    <c3m-message-block>
      <p>Please, repect the contrast ratio given by the color of the text in each example.</p>
    </c3m-message-block>
  </div>

  <dl class="palette">
    <div>
      <dt class="inverse">
        Main color
        <code>--main-color</code>
      </dt>
      <dd>#15819E</dd>
    </div>
    <div>
      <dt class="inverse">
        Main Dark
        <code>--main-dark</code>
      </dt>
      <dd>#1E2E39</dd>
    </div>
    <div>
      <dt>
        Main Light
        <code>--main-light</code>
      </dt>
      <dd>#45ABBC</dd>
    </div>
    <div>
      <dt>
        Main Ultra Light
        <code>--main-u-light</code>
      </dt>
      <dd>#E2F4F7</dd>
    </div>
    <div>
      <dt class="inverse">
        Secondary
        <code>--sec-color</code>
      </dt>
      <dd>#35781C</dd>
    </div>
    <div>
      <dt>
        Secondary Light
        <code>--sec-light</code>
      </dt>
      <dd>#6CBE45</dd>
    </div>
    <div>
      <dt>
        Secondary Ultra Light
        <code>--sec-u-light</code>
      </dt>
      <dd>#E6F9DD</dd>
    </div>
    <div>
      <dt class="inverse">
        Focus Color
        <code>--focus-color</code>
      </dt>
      <dd>#35781C</dd>
    </div>
    <div>
      <dt class="inverse">
        Hot Color
        <code>--hot-color</code>
      </dt>
      <dd>#BD4D96</dd>
    </div>
    <div>
      <dt>
        Hot Light
        <code>--hot-light</code>
      </dt>
      <dd>#D769A8</dd>
    </div>
    <div>
      <dt>
        Hot Ultra Light
        <code>--hot-u-light</code>
      </dt>
      <dd>#FFB9E1</dd>
    </div>
    <div>
      <dt>
        Hot Secondary
        <code>--hot-sec</code>
      </dt>
      <dd>#ED9C21</dd>
    </div>
    <div>
      <dt>
        Hot Secondary Light
        <code>--hot-sec-light</code>
      </dt>
      <dd>#FFEED4</dd>
    </div>
    <div>
      <dt class="inverse">
        Alert Color
        <code>--alert-color</code>
      </dt>
      <dd>#B10000</dd>
    </div>
  </dl>

  <h4>Neutral Colors</h4>
  <dl class="palette">
    <div>
      <dt class="inverse">
        Neutral Dark
        <code>--n-dark</code>
      </dt>
      <dd>#1E2E39</dd>
    </div>
    <div>
      <dt>
        Neutral Medium
        <code>--n-medium</code>
      </dt>
      <dd>#CCC</dd>
    </div>
    <div>
      <dt>
        Neutral Light
        <code>--n-light</code>
      </dt>
      <dd>#EEE</dd>
    </div>
    <div>
      <dt>
        Neutral Lighter
        <code>--n-lighter</code>
      </dt>
      <dd>#EFEFEF</dd>
    </div>
    <div>
      <dt class="inverse">
        Neutral Super Dark
        <code>--n-s-dark</code>
      </dt>
      <dd>#000</dd>
    </div>
    <div>
      <dt class="inverse">
        Text Color
        <code>--body-text</code>
      </dt>
      <dd>#404040</dd>
    </div>
    <div>
      <dt class="contrast">
        Body Background Color
        <code>--body-bg</code>
      </dt>
      <dd>#FFF</dd>
    </div>
    <div>
      <dt class="contrast">
        Text Inverted Color
        <code>--text-inv</code>
      </dt>
      <dd>#FFF</dd>
    </div>
  </dl>
</section>

<section id="sec-typo" class="style">
  <h3>Typography</h3>

  <div class="intro-text editorial">
    <p>
      CreamNg adopts a font stack of native font families in order to give you more flexibility and
      portability, as much as to gain in performance.
    </p>
    <p>
      The native font families used in the stack are: 'SFNSText', 'HelveticaNeueDeskInterface',
      'LucidaGrandeUI', 'Ubuntu', 'Segoe UI', 'Roboto', 'DroidSans', and 'Tahoma'.
    </p>
    <p>
      You may add your own typeface through your customized style-sheet. Refer to the "
      <a routerLink="/portal/custom-design">Custom Design</a>
      " page for more information on how to customize your design.
    </p>
  </div>

  <dl class="typeface type1">
    <dt>Regular</dt>
    <dd><code>var(--stack)</code></dd>
    <dd aria-hidden="true">
      A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
      <br />
      a b c d e f g h i j k l m n o p q r s t u v w x y z
      <br />
      1 2 3 4 5 6 7 8 9 0
    </dd>
  </dl>
  <dl class="typeface type2">
    <dt>Bold</dt>
    <dd><code>var(--stack-b)</code></dd>
    <dd aria-hidden="true">
      A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
      <br />
      a b c d e f g h i j k l m n o p q r s t u v w x y z
      <br />
      1 2 3 4 5 6 7 8 9 0
    </dd>
  </dl>
  <dl class="typeface type3">
    <dt>Italic</dt>
    <dd><code>var(--stack-i)</code></dd>
    <dd aria-hidden="true">
      A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
      <br />
      a b c d e f g h i j k l m n o p q r s t u v w x y z
      <br />
      1 2 3 4 5 6 7 8 9 0
    </dd>
  </dl>
</section>
