<nav #mainNav [id]="setId" aria-label="Main navigation">
  <p class="skip-link">
    <a [attr.href]="currentUrl + '#page-body'">Skip navigation</a>
  </p>
  <ul>
    <li *ngFor="let section of navData">
      <button
        class="level1"
        #levelOne
        (click)="openSection($event)"
        aria-expanded="false"
        [attr.aria-controls]="navSectionID">
        <svg role="img" width="24" height="24" aria-hidden="true">
          <!--use [attr.href]="'./assets/img/sprite.svg#' + section.svgIcon"></use-->
          <use href="./assets/img/sprite.svg#accordion-down"></use>
        </svg>
        {{ section.label }}
      </button>

      <ul class="level2" [id]="navSectionID">
        <li *ngFor="let subSection of getSubData(section.label)">
          <a
            #navLink
            routerLink="{{ subSection.url }}"
            routerLinkActive="active"
            #ariaRouterLink="routerLinkActive"
            [attr.aria-current]="ariaRouterLink.isActive ? 'page' : null"
            (click)="closeNavCondition()"
            (blur)="isLast($event)">
            {{ subSection.label }}</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<div class="overlay" (click)="toggleOpen()"></div>
